---
import {
  cardStyle,
  digestStyle,
  titleStyle,
  dateStyle,
  anchorStyle,
} from "./Card.css";

export interface Props {
  title: string;
  digest: string;
  href: string;
  date: string;
}

const { href, title, digest, date } = Astro.props;
---

<li class={cardStyle}>
  <a href={href} class={anchorStyle}>
    <h2 class={titleStyle}>
      {title}
    </h2>
    <p class={digestStyle}>
      {digest}
    </p>
    <date class={dateStyle}>{date}</date>
  </a>
</li>
